[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
[submodule "ext/gli"]
	path = ext/gli
	url = git@github.com:g-truc/gli.git
[submodule "ext/basis_universal"]
	path = ext/basis_universal
	url = git@github.com:BinomialLLC/basis_universal.git
